<div class='splash-div'>
	<div class='div-title'>
		<p><span id='welcome'>Welcome to</span> SKYLARK</p>
	</div>
</div>
<%= video_tag 'ucsb.mp4', id: 'trash', :autoplay => true, :muted => true, :loop => 'true' %>1