
<h1>User Profile Page</h1>

<ul>
  <li>Your username: <%= @user.username %></li>
  <li>Your email: <%= @user.email %></li>
</ul>

<h2> Your uploaded images:</h2>
<p>--------------------------------</p>
<% @user.images.each do |image| %>
  <%= render partial: "images/show", layout: false, locals: {image: image} %>
<% end %>

