/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*this is temporary*/
#nav-welcome, #flash-box {
  color: white;
}

body { 
	margin:0; 
	padding:0;
}
.map { position:absolute; top:50px; bottom:0; width:100%; }
.container {
	padding:0;
	margin:0;
	padding-top: 10px;
}
.navigation {
	height: 50px;
	width: 100%;
	background-color: #363636;
	padding-left: 50px;
	padding-right: 100px;
}
html body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.main-title {
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color: #fff;
}
nav a:link {
    color: #fff;
    text-decoration: none;
}
nav a:visited {
    color: #fff;
}
nav a:active {
    color: #fff;
}
video#trash {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.div-title{
	text-align: center;
	width: 50%;
    margin: 0 auto;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 8em;
	opacity: 1;
}
#welcome {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
}
.splash-div {
	margin-top: 75px;
	padding: 50px;
	background-color: rgba(0, 0, 0, 0.2);
}
.login-page {
	background-color: #eee;
}
.form {
	background-color: #fff;
	margin-top: 50px;
	padding: 10px 0 40px 0;
}

#user_username, #user_email, #user_password, #user_password_confirmation {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
#login_submit {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #d2cece;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
