/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*this is temporary*/
#nav-welcome, #flash-box {
  color: white;
}

body {
	margin:0;
	padding:0;
}
.map { position:absolute; top:50px; bottom:0; width:100%; }
.container {
	padding:0;
	margin:0;
	padding-top: 10px;
}
.navigation {
	height: 50px;
	width: 100%;
	background-color: #363636;
	padding-left: 50px;
	padding-right: 100px;
}
html body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.main-title {
	font-size: 35px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 800;
	color: #fff;
}
nav a:link {
    color: #fff;
    text-decoration: none;
}
nav a:visited {
    color: #fff;
}
nav a:active {
    color: #fff;
}
#main-logo {
	width: 60px;
	height: 52px;
	margin-right: 15px;
}






