// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* upload form */

.upload-form {
  background-color: #fff;
  padding: 10px 0 40px 0;
}
#upload-submit {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0392cf;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
#image_tileset_name, #image_date_taken, #image_description, #image_camera_type, #image_image_file {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.sidebar {
  background-color: #eee;
  float: right;
  height: 600px;
  width: 300px;
  padding: 20px;
}
#map_geo {
  z-index: -1;
}
.toggle-menu {
  height: 725px;
  width: 300px;
  background-color: #ddd;
  float: right;
  overflow: scroll;
}

/*Opacity Handle*/
.ui-opacity {
  background:#FFF;
  position:absolute;
  left:10px;
  top:140px;
  height:200px;
  width:28px;
  border:1px solid rgba(0,0,0,0.4);
  border-radius:3px;
  z-index:1000;
}

.ui-opacity .handle {
  position:absolute;
  background:#404040;
  left:0;
  top:20px;
  width:26px;
  height:10px;
  border-radius:1px;
  cursor:pointer;
  cursor:ns-resize;
}

.ui-opacity .handle:hover {
  background:#303030;
}



