

<div class="upvote-container">
  <button type="button" class="btn btn-info upvoter" data-image-id="<%= @image.id %>">
    <span class='glyphicon glyphicon-thumbs-up glyphicon-align-center'></span>
    <span><%= image.get_upvotes.size %></span>
  </button>
</div>