<%= link_to like_image_path(image), class: "like", method: :put do %>
  <button type="button" class="btn btn-info">
    <span class='glyphicon glyphicon-thumbs-up glyphicon-align-center'></span>
    <span class='badge'><%= image.get_upvotes.size %></span>
  </button>
<% end %>