<div id='map_geo' class='map'></div>
<div class='sidebar'>
  <button id="close-sb" type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </button>

  <div id="info"></div>

  <div id='control' class='ui-opacity'>
    <div id='handle' class='handle'></div>
  </div>

</div>
