<div id='map_geo' class='map'></div>
<div class='toggle-menu'>
	<h1>Sidebar Menu!</h1>
	<p>This needs to be styled</p>
	<ul>
	<% @images.each do |image| %>
		<li><%= image.tileset_name %></li>
		<p><%= image.description %></p>
	<% end %>
	</ul>
</div>
